* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
/*Основные стили игры*/
body {
  	text-align:center;
    background-color: #55354C;
    color: #FCFAEA;
    margin:0;
    padding: 0;
}
/*Сброс стиля "display:none;" от модернайзера для тега select */
select{
	display: block;
}

/*Стили для всех кнопок в игре*/
button{
	width: 100%;
	margin-bottom: 10px;
	background-color: #FD8200 !important;
    font-family: 'Press Start 2P', cursive;
}

/*Стили для основной обертки игры*/
.main-battleship {
    width: 1200px;
    margin:0 auto;
}

/*Стили для тега с названием игры*/ 
.gamename {
    font-family: 'Pirata One', cursive;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

/*Стили для информационной панели*/
.infobar {
    margin-bottom: 110px;
}

/*Стили(анимация мерцания) для блока с выводом информации. keyframes ниже*/
.infobar-text{
    font-family: 'Press Start 2P', cursive;
    animation: blink 3s linear infinite;
    color: rgb(255, 128, 0);
}

/*Основные стили для цифр и букв над полями боя*/
.aroundField{
    display: inline-block;
    position: absolute;
    display: block;
}

/*Стили для обертки полей боя*/
.battlefields{
    display: block;
    margin-left: 25px;
}

/*Стили для названия над полями боя*/
.field-name{
    position:relative;
    top: -40px;
    display: block;
    height: 21px;
    font-family: 'Press Start 2P', cursive;
}

/*Общие стили для каждого поля боя*/
.battlefield{
    margin-left: 20px;
    position: relative;
    float: left;
    display: inline-block;
    width: 390px;
    height: 390px;
}

/*Стили для поля боя игрока*/

.battlefield__player{
    margin-left: 20px;
}
